@{
    Layout = null;
} 
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>1-year Lykke forward offering</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="manifest.json">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="1-year Lykke forward offering" />
  <meta property="og:description" content="Special limited offer
 | February 9 – February 28, 2017"/>
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="Lykke ICO" />

<!--  <meta name="twitter:card" content="card_type">
  <meta name="twitter:site" content="@@CompanyName">
  <meta name="twitter:title" content="Your 65-Character headline">
  <meta name="twitter:description" content="Your 200-character description.">
  <meta name="twitter:creator" content="@@AuthorHandle">
  <meta name="twitter:image:src" content="image URL">-->

  <link rel="stylesheet" href="css/vendor/bootstrap-custom.min.css">
  <link rel="stylesheet" href="css/style.css?v1">

  <!--[if lte IE 9]>
  <script type="text/javascript" src="js/vendor/html5shiv.js"></script>
  <![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68151354-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>

<body>

  <header class="ico_header ico_header--success">
    <div class="ico_header__img">
      <img src="img/lykke_coin_cc.png" width="360" alt="Lykke ICO">
    </div>
    <h3>Thank you for submitting your order!</h3>

    <a href="/" class="btn btn--stroke">Go back</a>
  </header>

  <footer class="ico_footer">
    <div class="container">
      <div class="ico_social">
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <div class="ya-share2" data-lang="en" data-services="facebook,twitter,linkedin"></div>
      </div>

      <div class="ico_footer__menu">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <ul class="ico_menu">
              <li class="ico_menu__item ico_menu__item--title">About Lykke</li>
              <li class="ico_menu__item">
                <a href="" target="_blank">Press kit
</a>
              </li>
              <li class="ico_menu__item">
                <a href="https://lykke.com/contacts.php" target="_blank">Contacts
</a>
              </li>
              <li class="ico_menu__item">
                <a href="" target="_blank">
Support

</a>
              </li>
              <li class="ico_menu__item">
                <a href="https://lykke.com/city/blog/index" target="_blank">
Blog

</a>
              </li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-3">
            <ul class="ico_menu">
              <li class="ico_menu__item ico_menu__item--title">Apps</li>
              <li class="ico_menu__item">
                <a href="https://appsto.re/ru/Dwjvcb.i" target="_blank">Lykke Wallet iOS
</a>
              </li>
              <li class="ico_menu__item">
                <a href="https://play.google.com/store/apps/details?id=com.lykkex.LykkeWallet" target="_blank">Lykke Wallet Android
</a>
              </li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-3">
            <ul class="ico_menu">
              <li class="ico_menu__item ico_menu__item--title">Services</li>
              <li class="ico_menu__item">
                <a href="https://streams.lykke.com/" target="_blank">Lykke Streams
</a>
              </li>
              <li class="ico_menu__item">
                <a href="https://blockchainexplorer.lykke.com/" target="_blank">Blockchain Explorer
</a>
              </li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-3">
            <ul class="ico_menu">
              <li class="ico_menu__item ico_menu__item--title">Social Media</li>
              <li class="ico_menu__item">
                <a href="https://www.facebook.com/groups/542506412568917/" target="_blank">Facebook

</a>
              </li>
              <li class="ico_menu__item">
                <a href="https://twitter.com/LykkeCity" target="_blank">Twitter
</a>
              </li>
              <li class="ico_menu__item">
                <a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank">

Youtube

</a>
              </li>
              <li class="ico_menu__item">
                <a href="https://www.linkedin.com/company/lykke-ag" target="_blank">
LinkedIn

</a>
              </li>
              <li class="ico_menu__item">
                <a href="https://www.reddit.com/r/lykke/" target="_blank">
Reddit

</a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="disclaimer">
        <div class="row">
          <div class="col-sm-9">
            <p>
              The information on this website is intended only for persons residing or having their registered office in Switzerland. By using this website, you expressly confirm that you are a resident of Switzerland or your company holds a registered office in Switzerland.  Lykke Corp (Lykke AG) explicitly declines any responsibility for the distribution of information or documents to natural or legal persons who provide incorrect information regarding their legal place of residence or registered office.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="modal fade modal--qrbar" id="qrbar">

    <div class="modal__body">
      <div class="modal__section">
        <div class="modal__content">
          <img src="img/qr_full.png" width="260">
          <div class="accent">Wallet address</div>
          <div class="wallet_address">33KsMNpXDe8ioBcDmj86skazdzQaXF5aVk</div>
        </div>
      </div>
      <button type="button" class="modal__close" data-dismiss="modal"></button>
    </div>
  </div>

</body>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/jquery.inview.min.js"></script>
<script src="js/vendor/jquery.validate.min.js"></script>
<script src="js/vendor/clipboard.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>

</html>